/* https://cloudninja.pw/docs/wofi.html */
window {
    border: 2px solid black;
    background-color: rgba(47, 52, 63, 0.8); 
}

#input {
    color: rgba(171, 178, 191, 1);
    border: 2px solid black;
    background-color: rgba(216, 222, 232, 0.3);
    font-size: 18px;
}


#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0px;
    font-size: 16px;
    color: #abb2bf;
}

#scroll label {
    margin: 2px 0px;
}

#entry:selected {
    color: rgba(191, 97, 106, 1);
    background-color: rgba(191, 97, 106, 0.3);
}
